__pycache__/
.idea/

build/
eggs/
.eggs/
sdist/
dist/
wheels/
*.egg-info/
*.egg

.tox/
tests/**/sim_build/
tests/**/results.xml
tests/**/*.fst
tests/**/iverilog_dump.v
tests/**/.pytest_cache
*~

cocotbext/spi/_version.py
.pdm-python
